.navbar-collapse {
    flex-grow: 0;
    margin-right: auto;
}
.btn-outline-success {
    color: blue;
    border: blue solid;
    width: 100%;
}
#signin {
    margin-left: auto;
    text-decoration: none;
    color: black;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: blue;
        border-color: blue;
}
.jumbotron {
    background-image: url("../images/pizza.png");
    height: 346px;
    background-size: cover;
}
.jumbotron>.bg-light {
    --bs-bg-opacity: .5;
}
.p-3    {
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    position: relative;
    top: 35%;
}

.tab-content>.active {
    color: white;
    background-color: blue;
}

.badge {
    border-radius: 50%;
}
.card-header {
    color: white;
    background-color: blue;
}
#size-header {
    color: black;
}

.size {
    color: black;
    background-color: lightgrey;
}
label {
    color: black;
}
.tab-content>.active {
    color: white;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}
.next-step {
    display: flex;
    justify-content: flex-end;
}
.next-step-btn {
    margin-right: 1em;
    margin-top: .25em;
    margin-bottom: .25em;
}

.cheese-dropdown {
    width: 98%;
    margin: .5em auto;
}

#howmuch {
    color: black;
    background-color: white;
    border-top: solid lightgrey 1px;
}

#next-btn {
    margin-right: 1em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#back-btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.card-body {
    background-color: white;
}