body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    padding: .5em;
    border: 1px lightgrey solid;
    margin: 1em;
    border-radius: 5px;
}
.message-info{
    background-color: #D1DEFC;
    color: #352C8D
}

.message-error{
    background-color: #F5D4D7;
    color: #873946
}

.message-success{
    background-color: #D7F2DC;
    color: #52845B
}

.message-warning{
    background-color: #FDFBCE;
    color: #A29651

}
 /*background-color: blue;*/
